body{
  background-color: #101c2d;
  border: 5px solid #26a8d4;
  font-family: 'Fredoka One', fredoka-one;
  margin: 20px;
  padding: 2%;
  color: white;
}

hr{
  border-style: none;
  background-color:#101c2d;
  border-top-style: solid;
  border-width: 5px;
  width: 10%;
  transition: ease-out 0.3s;
}

hr:hover{
  border-radius: 4px;
  width: 30%;
  border-top-style: solid;
}

h1{
  color: white;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 5px;
  border: solid 4px white;
  font-size: 25px;
  border-collapse: separate;
  border-spacing: 75px 0;
}

td{
  width: 128px;
}

tr{width: 30%}

img{
  width:128px;
  transition: 0.2s ease-out;
}

img:hover{
  width: 115px;
}

.price{
  transition: 0.2s ease-out;
}

.price:hover{
  font-size: 30px;
  color: #EEE4EE;
}

.h0{
  font-size: 75px;
  text-align: left;
}

.ores{border-color: #26a8d4;}

.woods{border-color: brown;}

.crops{border-color: yellow;}
