body{
  background-color: #101c2d;
  border: 5px solid #26a8d4;
  font-family: 'Fredoka One', fredoka-one;
  margin: 20px;
  padding: 2%;
  color: white;
}

h1{
  color: white;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 5px;
  border: solid 4px white;
  font-size: 25px;
  border-collapse: separate;
  border-spacing: 75px 0;
}

td{
  width: 128px;
}

img{
  width:128px;
}

.price{
  transition: 0.2s ease-out;
}

.price:hover{
  font-size: 30px;
  color: #EEE4EE;
}

.h0{
  font-size: 75px;
  text-align: left;
}
